## Introducing Pandas

Pandas is a popular open source library for data analysis built on top of the Python programming language and it is the nucleus in a large Python ecosystem of data science tools.

Pandas is easily integrated with libraries for statistics, natural language processing, machine learning, web scraping, data visualization and more.

#### Import the Pandas library

Import the pandas library to get access to its features.

In [3]:
import pandas as pd

#### Importing a dataset

Pandas can import a variety of file types, each file type has its associated import method. We can use the *read_csv* method to tell Pandas to open up the *population.csv* file.

This method imports the CSV file's contents into an object called a **DataFrame**, a two-dimensional labeled data structure with columns of potentially different types.

In [4]:
url = 'https://raw.githubusercontent.com/GiorgioBar/pandas/main/datasets/population.csv'
population_df = pd.read_csv(url)
# print(population_df.head(5))

In [17]:
url = 'https://raw.githubusercontent.com/GiorgioBar/pandas/main/datasets/area.csv'
area_df = pd.read_csv(url)

In [20]:
population_df.head()

  ITTER107   Territory  SEXISTAT1   Gender ETA1      Age   Value
0       IT       Italy          1    males   Y0  0 years  205956
1       IT       Italy          2  females   Y0  0 years  195565
2       IT       Italy          9    total   Y0  0 years  401521
3      ITC  Nord-ovest          1    males   Y0  0 years   54122
4      ITC  Nord-ovest          2  females   Y0  0 years   51309

In [21]:
area_df.head()

  ITTER107   Territory TIPO_DATO4         Data type         Value
0       IT       Italy    TOTAREA   total area (Ha)  3.020683e+07
1       IT       Italy   TOTAREA2  total area (km2)  3.020683e+05
2      ITC  Nord-ovest    TOTAREA   total area (Ha)  5.792680e+06
3      ITC  Nord-ovest   TOTAREA2  total area (km2)  5.792680e+04
4     ITC1    Piemonte    TOTAREA   total area (Ha)  2.538670e+06

In [22]:
%%shell
jupyter nbconvert --to html /content/SQL_like_queries_using_Pandas.ipynb

[NbConvertApp] Converting notebook /content/SQL_like_queries_using_Pandas.ipynb to html
[NbConvertApp] Writing 294108 bytes to /content/SQL_like_queries_using_Pandas.html